.calendar-card {
  padding: 0 2px;
}

.adm-calendar-cell-bottom {
  height: 8px !important;
  line-height: 8px !important;
}

.adm-calendar-mark {
  padding: 0 !important;
}

.adm-calendar-cells {
  padding: 4px 0 !important;
}

.adm-calendar-cell {
  height: 100% !important;
  margin-bottom: 0 !important;
}

.adm-calendar-cell.adm-calendar-cell-selected.adm-calendar-cell.adm-calendar-cell-selected {
  background: transparent !important;
  color: var(--adm-color-white);
}
